name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - "!**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  format:
    name: Format check
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Ensure no formatting changes
      run: |
        go fmt ./...
        git diff --exit-code

    - name: Ensure no use of empty interface (should be any)
      run: |
        ! egrep -R --exclude-dir .git 'interface\{\}'

  test:
    uses: ./.github/workflows/_tests.yaml
    with:
      arch: amd64
      runner: ubuntu-24.04
