# We test on alternative architectures manually rather than in push.yaml.
# This is because these tests need to run on our self-hosted runners for these arches,
# which are currently a bit too slow and flaky to run on PRs without sporadic failures.
name: Test on alternative architectures

on:
  workflow_dispatch:

jobs:
  ppc64le:
    uses: ./.github/workflows/_tests.yaml
    with:
      arch: ppc64le  # note: ppc64le for arch, ppc64el in runner name
      runner: self-hosted-linux-ppc64el-noble-edge

  s390x:
    uses: ./.github/workflows/_tests.yaml
    with:
      arch: s390x
      runner: self-hosted-linux-s390x-noble-edge
